/* Apply to the entire page */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    color: white;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 30px 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
    width: 300px;
}

.heading {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #f0f0f0;
}

.timer {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #ffffff;
}

button {
    
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 10px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

hr {
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 20px 0;
}
.start{
    background-color: rgb(43, 128, 0);
}
.stop{
    background-color: red;
}
.reset{
    background-color: rgb(0, 200, 255);
}
